body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#puzzle-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
}

.puzzle-item {
  border: 1px solid #000000;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  text-align: center;
  transition: transform 0.2s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 200px;
}


.puzzle-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.puzzle-item img {
  width: 100%;
  height: auto;
  display: block;
}

.puzzle-item-name {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#load-more-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

#create-puzzle-button {
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

button:hover {
  opacity: 0.9;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header {
  position: relative;
  background-color: #f8f9fa;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.logout-button {
  background-color: #00ff37;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #00a72493;
}

.user-info {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 20px auto;
  width: 300px;
}

.user-info h2 {
  margin: 0;
  font-size: 24px;
}

.user-info p {
  margin: 5px 0;
  font-size: 18px;
}

.puzzle-solved-count {
  font-size: 14px;
  color: #555;
}